/* 1 - Seletor universal */
* {
    font-family: sans-serif;
  }
  
  /* 2 - Seletor por elementos */
  h1 {
    font-size: 48px;
    color: #293651;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-size: 46px;
    color: #00a78e;
    font-family: sans-serif;
    text-align: center;
  }
  
  /* 3 - Seletor por classe */
  .texto-centralizado {
    text-align: center;
  }
  
  /* 4 - Seletor por ID */
  #link-contratar {
    background-color: green;
    border: solid;
    padding: 5px 5px 5px 5px;
  }